<div class="row">
    <nav>
        <a routerLink="/organization" routerLinkActive="active">User Management</a>
    </nav>
</div>
<div class="row">
    <nav>
        <a routerLink="/organization" routerLinkActive="active">Employee Management</a>
    </nav>
</div>
<div class="row">
    <nav>
        <a routerLink="/organization" routerLinkActive="active">Permission Management</a>
    </nav>
</div>
<div class="row">
    <nav>
        <a routerLink="/organization" routerLinkActive="active">Role Management</a>
    </nav>
</div>
<div class="row">
    <nav>
        <a routerLink="/organization" routerLinkActive="active">Organization Management</a>
    </nav>
</div>