<div class="row">
  <div class="col-md-8">
    <div class="card">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
        <div class="card-header card-header-icon" data-background-color="rose">
          <i class="material-icons">contacts</i>
        </div>
        <div class="card-content">
          <h4 class="card-title">Login Form</h4>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Account</label>
            <input class="form-control" name="email" [(ngModel)]="loginViewModel.email" type="text" required="true" formControlName="email"
              autocomplete="off">
            <span class="material-input"></span>
            <div class="help-block text-danger" *ngIf="formGroup.get('email').dirty && formGroup.get('email').hasError('required')">Account is required</div>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Password</label>
            <input class="form-control" name="password" [(ngModel)]="loginViewModel.password" type="password" required="true" formControlName="password"
              autocomplete="off">
            <span class="material-input"></span>
            <div class="help-block text-danger" *ngIf="formGroup.get('password').dirty && formGroup.get('password').hasError('required')">Password is required</div>
            <div class="help-block text-danger" *ngIf="formGroup.get('password').dirty && formGroup.get('password').hasError('minlength')">
              password requires min length: {{ formGroup.get('password').errors.minlength?.requiredLength }}, actual length: {{ formGroup.get('password').errors.minlength?.actualLength
              }}
            </div>
          </div>
        </div>
        <div class="text-center"><button type="submit" [disabled]="formGroup.invalid" class="btn btn-rose btn-fill btn-wd">Login</button></div>
      </form>
    </div>
  </div>
</div>
