<div>
	<h2>Organization Detail</h2>
	<div *ngIf="isError">{{error}}</div>
	<div *ngIf="org">
		<form class="col-xs-5" #orgForm="ngForm">
			<div class="form-group">
				<label for="name">Name</label>
				<input id="name" name="name" [(ngModel)]='org.name' required class="form-control" />
			</div>
			<div class="form-group">
				<label for="region">Region</label>
				<select id="region" name="region" [(ngModel)]='org.regionId' required class="form-control">
				<option *ngFor="let r of regions" [value]="r.id">{{r.regionName}}</option>
			</select>
			</div>
			<div class="form-group">
				<label for="parent">Superior</label>
				<select id="parent" name="parent" [(ngModel)]='org.superiorId' class="form-control">
				<option *ngFor="let o of organizations" [value]="o.id" >{{o.name}}</option>
			</select>
			</div>
			<button class="btn btn-success" [disabled]="!orgForm.form.valid || loadingState" (click)="updateOrg()">Save</button>
			<button (click)="back()" class="btn">Cancel</button>
		</form>
	</div>
</div>