<!--<div class="col-xs-9">
	<h1>Organization List</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Superior</th>
				<th>Region</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let o of orgs | paginate: { itemsPerPage: 2, currentPage: p }">
				<td>{{o.name}}</td>
				<td>{{o.superior}}</td>
				<td>{{o.regionName}}</td>
			</tr>						
		</tbody>		
	</table>
	<pagination-controls (pageChange)="p = $event" style="cursor: pointer" previousLabel="前一页" nextLabel="后一页"></pagination-controls>
	<button (click)="update()" class="btn btn-primary" [disabled]="!this.selectedOrg || loadingState">Update</button>
	<button (click)="add()" class="btn btn-success" [disabled]="loadingState">Add</button>
	<button (click)="delete()" class="btn btn-danger" [disabled]="!this.selectedOrg || loadingState">Delete</button>
	<span *ngIf="loadingState">loading</span>
</div>-->










<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-icon" data-background-color="purple">
						<i class="material-icons">assignment</i>
					</div>
					<div class="card-content">
						<h4 class="card-title">DataTables.net</h4>
						<div class="toolbar">
							<!--        Here you can write extra buttons/actions for the toolbar              -->
						</div>
						<div class="material-datatables">
							<table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
								<thead>
									<tr>
										<th>Name</th>
										<th>Superior</th>
										<th>Region</th>
										<th class="disabled-sorting text-right">Actions</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Name</th>
										<th>Superior</th>
										<th>Region</th>
										<th class="text-right">Actions</th>
									</tr>
								</tfoot>
								<tbody>
									<tr *ngFor="let o of orgs">
										<td>{{o.name}}</td>
										<td>{{o.superior}}</td>
										<td>{{o.regionName}}</td>
										<td class="text-right">
											<a href="#/organization" class="btn btn-simple btn-info btn-icon like"><i class="material-icons">favorite</i></a>
											<a href="#/organization" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">dvr</i></a>
											<a href="#/organization" class="btn btn-simple btn-danger btn-icon remove"><i class="material-icons">close</i></a>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<!-- end content-->
				</div>
				<!--  end card  -->
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>